#Holds configuration variables for the Check In / Check Out Script

#Url for Check in / Check out in pcs
pcsCheckInOutUrl="https://pcs.picanova.de/CheckInOut.jsf"

#X and Y coordinate in pixels to move mouse for department selection. 0,0 is top left of screen.
departmentX=530
departmentY=210

#Characters to type into department selection drop down
departmentChar1="p"
departmentChar2="h"
departmentChar3="o"
#Int for the number of down arrow keys to be pressed to reach desired department
#Replace "x" with the corresponding number to department
departmentNumber=x
